@use '../variables' as *;

.main-nav {
  display:flex;
  justify-content: space-between;
  padding: 2px;
  margin: 0px;
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {
    display: flex;
    justify-content: left;
  > ul {
    display: flex;
    justify-content: left;
    > li {
        display: flex;
        justify-content: left;
        padding: 3px;
    }
  }

  span {
    
  }
}

.right-nav  {
    display: flex;
    justify-content: right;
  > ul {
      display: flex;
      justify-content: right;
    > li {
      display: flex;
      justify-content: right;
      padding: 3px;
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    