/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color:gray;
	// border-color:
	color: white;
	font-weight: bold;
	padding: 3px;
	border-radius: 3px;
	transition: width 1s;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	// text-transform:lowercase;
	font-size: 8px;
	text-align:center;
	align-items: center;
}

button:hover {
	background-color: darkblue;
	border-color: rgb(1, 1, 66)
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}