
<div class="masthead">
    <nav class="language-nav">
        <ul class="language-list">
            <li>CSS  </li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>Ruby</li>
        
        </ul>
    
    
    </nav>

    <img src="assets/AA_Times_Logo.png">
    
    
    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li>
           
            <i class="fa-solid fa-newspaper"></i>
            <a id="link" href="#">Today’s Paper</a>
        </li>
        <li>
            <i class="fa-solid fa-video"></i>
            <a id="link" href="#">Video</a>
        </li>
       <li id="turn-gray">77°F</li>
       <li id="turn-gray">AAO +100%</li>
    
    </ul>



</div>




